h2 {
    font-size: 18px;
    color: var(--ion-color-secondary);
    
}

.offer-details {
    display: flex;
    align-items: center;
    border: 1px solid var(--ion-color-secondary);


    .space-left{
        margin-left: 5px;
    }
}